<html>
<body>
Bonjour <u><i>{{ user.fullName }}</i></u>,<br><br>
Bienvenue sur le site web <a href="https://acf-expert.tn">Acf-expert.tn</a>.<br><br>
Votre compte ACEF Expert a été désactivé par l’administrateur du site.<br><br>
Pour réactiver votre compte, veuillez contacter l’administrateur du site par mail à l’adresse : <a href="mailto:contact@acf-expert.tn">contact@acf-expert.tn</a>
<br>
<br>
<b>Nous vous remercions pour votre confiance</b><br><small><b>L’Equipe ACEF Expert</b></small><br>
<img alt="Cabinet FAKHFAKH d'Expertise Comptable" src="{{ logo }}"><br>
<small>REMARQUE : Ce courriel a été généré automatiquement par <a href="https://www.acf-expert.tn">https://www.acf-expert.tn</a>.<br>
Ne répondez pas à ce courriel.</small>
</body>
</html>