<html>
<body>
{{'_mail.newdocs.bodyMBPurchase'|trans({'%user%':user.fullName,'%companyurl%':url('_admin_company_editGet', {'uid': company.id}), '%company%':company.corporateName,'%mpurl%': url('_admin_mbpurchase_editGet', {'uid': mp.id}), '%mp%': mp.ref }, "messages")|raw}}<br>
{% for doc in docs %}
- <a href="{{ url('_admin_doc_editGet', {'uid': doc.id}) }}">{{ doc.originalName }}</a><br>
{% endfor %}
</body>
</html>