<html>
<body>
{{'_mail.newdocs.bodySupplier'|trans({'%user%':user.fullName,'%companyurl%':url('_admin_company_editGet', {'uid': company.id}), '%company%':company.corporateName,'%supplierurl%': url('_admin_supplier_editGet', {'uid': supplier.id}), '%supplier%': supplier.label }, "messages")|raw}}<br>
{% for doc in docs %}
- <a href="{{ url('_admin_doc_editGet', {'uid': doc.id}) }}">{{ doc.originalName }}</a><br>
{% endfor %}
<br>
<br>
<b>Nous vous remercions pour votre confiance</b><br><small><b>L’Equipe ACEF Expert</b></small><br>
<img alt="Cabinet FAKHFAKH d'Expertise Comptable" src="{{ logo }}"><br>
<small>REMARQUE : Ce courriel a été généré automatiquement par <a href="https://www.acf-expert.tn">https://www.acf-expert.tn</a>.<br>
Ne répondez pas à ce courriel.</small>
</body>
</html>