/app/config/parameters.yml
/bin/
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/Files
/var/Files/*
!/var/TempFiles
/var/TempFiles/*
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!/web/res/avatars/
/web/res/avatars/*
!/web/res/docs/
/web/res/docs/*
!/web/res/goodDocs/
/web/res/goodDocs/*
!/web/res/biDocs/
/web/res/biDocs/*
!/web/res/liasseDocs/
/web/res/liasseDocs/*
!/web/res/Ao/
/web/res/Ao/*
!/web/res/Ve/
/web/res/Ve/*
/phpunit.xml
/composer.phar
/composer.lock
/web/webMail*
/.settings/
/.buildpath
/.classpath
/.project
