<html>
<body>
Bonjour <b>{{ user.fullName }}</b>.,<br>

Votre abonnement expirera dans {{ pendingDays }} jours.<br>
<p>
Pour réactiver votre compte et renouveler votre abonnement, veuillez contacter l’administrateur du site par mail à l’adresse mail : contact@acf-expert.tn ou bien contacter notre service commercial au +216 20 825 000.
</p>
<p>
Vous pouvez procéder au paiement en ligne de votre compte par Carte Bancaire (MasterCard, Visa, Visa Electron). Votre compta sera activé instantanément après paiement.
<p>
<br>
<br>
<b>Nous vous remercions pour votre confiance</b><br><small><b>L’Equipe ACEF Expert</b></small><br>
<img alt="Cabinet FAKHFAKH d'Expertise Comptable" src="{{ logo }}"><br>
<small>REMARQUE : Ce courriel a été généré automatiquement par <a href="https://www.acf-expert.tn">https://www.acf-expert.tn</a>.<br>
Ne répondez pas à ce courriel.</small>
</body>
</html>