<html>
<body>
{{'_mail.newdocs.bodyMPaye'|trans({'%user%':user.fullName,'%companyurl%':url('_admin_company_editGet', {'uid': company.id}), '%company%':company.corporateName,'%mpayeurl%': url('_admin_mpaye_editGet', {'uid': mpaye.id}), '%mpaye%': mpaye.ref }, "messages")|raw}}<br>
{% for doc in docs %}
- <a href="{{ url('_admin_doc_editGet', {'uid': doc.id}) }}">{{ doc.originalName }}</a><br>
{% endfor %}
</body>
</html>